html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.btn {
	border-radius: 0.5rem;
}

/*.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
*/

.card
{
  border-radius: 0.75rem !important;
}

.btn-social {
  color: #eee !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

