<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Sign in</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Font for icons -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Social buttons -->
    <link href="/css/bootstrap-social.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="/css/login.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <div class="card shadow-sm btn-round form-signin">
      <h4 class="mb-3 font-weight-normal">Please, sign in</h4>
      
      <a class="btn btn-block btn-social btn-facebook" th:href="@{/login/facebook}">
        <span class="fa fa-facebook"></span> Continue with Facebook
      </a>
      </a>
      <a class="btn btn-block btn-social btn-google" th:href="@{/login/google}">
        <span class="fa fa-google"></span> Continue with Google
      </a>
      <a class="btn btn-block btn-social btn-github" th:href="@{/login/github}">
        <span class="fa fa-github"></span> Continue with GitHub
      </a>
    </div>
  </body>
</html>